@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&amp;family=Outfit:wght@200;300;400;500;600;700;800&amp;display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.stroke-text {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: white;
}

.swiper-testimonial-pagination.swiper-pagination-progressbar,
.swiper-testimonial-pagination.swiper-pagination-horizontal {
  position: absolute !important;
  top: auto !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  z-index: 1 !important;
  height: 2px !important;
  width: auto !important;
  overflow: hidden !important;
  border-radius: 0.125rem !important;
  background-color: rgb(255 255 255 / 0.2) !important;
}

@media (min-width: 1024px) {
  .swiper-testimonial-pagination.swiper-pagination-progressbar,
  .swiper-testimonial-pagination.swiper-pagination-horizontal {
    left: 310px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-testimonial-pagination.swiper-pagination-progressbar,
  .swiper-testimonial-pagination.swiper-pagination-horizontal {
    left: 330px !important;
  }
}

.swiper-testimonial-pagination.swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill,
.swiper-testimonial-pagination.swiper-pagination-horizontal
  .swiper-pagination-progressbar-fill {
  background-image: linear-gradient(
    45deg,
    #ff82f3 0%,
    #7b13ff 50%,
    #400d64 100%
  );
}
