@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&amp;family=Outfit:wght@200;300;400;500;600;700;800&amp;display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.stroke-text {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: white;
}
