@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&amp;family=Outfit:wght@200;300;400;500;600;700;800&amp;display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
}
html *,
body * {
  cursor: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(24, 26, 28);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
  border-radius: 10px;
}

@media(max-width : 767px) {
  .stroke-text {
    --tw-text-opacity: 1;
    color: transparent; /* Make the base text color transparent */
    background: white; /* Gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    /* -webkit-text-stroke-color: #ff82f3; Fallback stroke color */
  }
  
}
@media (min-width: 768px) {
  .stroke-text {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: white;
  }
}

.swiper-testimonial-pagination.swiper-pagination-progressbar,
.swiper-testimonial-pagination.swiper-pagination-horizontal {
  position: absolute !important;
  top: auto !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  z-index: 1 !important;
  height: 2px !important;
  width: auto !important;
  overflow: hidden !important;
  border-radius: 0.125rem !important;
  background-color: rgb(255 255 255 / 0.2) !important;
}

@media (min-width: 1024px) {
  .swiper-testimonial-pagination.swiper-pagination-progressbar,
  .swiper-testimonial-pagination.swiper-pagination-horizontal {
    left: 310px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-testimonial-pagination.swiper-pagination-progressbar,
  .swiper-testimonial-pagination.swiper-pagination-horizontal {
    left: 330px !important;
  }
}

.swiper-testimonial-pagination.swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill,
.swiper-testimonial-pagination.swiper-pagination-horizontal
  .swiper-pagination-progressbar-fill {
  background-image: linear-gradient(
    45deg,
    #ff82f3 0%,
    #7b13ff 50%,
    #400d64 100%
  );
}

#cursor-dot,
#cursor-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

#cursor-dot {
  width: var(--cursor-size);
  height: var(--cursor-size);
  background: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
}

#cursor-dot-outline {
  width: var(--cursor-outline-size);
  height: var(--cursor-outline-size);
  background: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
}
